[Desktop Entry]
Version=1.0
Type=Application
Name=qtPredicadores
Comment=A program for the Preachers database
Comment[de]=Ein Programm für die Prediger-Datenbank 
Comment[es]=Un programa para la bd de la Orden de Predicadores
Exec=/home/igor/bin/qtPredicadores %U
Terminal=false
Categories=Office;Databases;

